<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Pizza App</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="container mx-auto flex justify-between items-center py-2">
        <div>
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>

        <div>
            <ul class="flex items-center ">
                <li class="ml-6"><a href="#">Menu</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>

                <% if(user) { %>
                    <li class="ml-6">
                        <form id="logout" action="/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                        </form>
                    </li>
                    <% } else { %>
                        <li class="ml-6"><a href="/register">Register</a></li>
                        <li class="ml-6"><a href="/login">Login</a></li>
                        <% } %>

                            <li class="ml-6"><a class="px-4 py-2 rounded-full flex items-center" href="/cart">
                                    <span class="text-white font-bold pr-2" id="cart-counter">
                                        <%= session.cart ? session.cart.totalQty : '' %>
                                    </span>
                                    <img src="/images/cart.png" alt="cart"></a>
                            </li>
            </ul>
        </div>
    </nav>

    <%- body %>

        <footer class="py-4">
            <p class="text-center text-gray-500 text-xs pb-2">
                &copy;2023 Aditya Yadav. All rights reserved.
            </p>
        </footer>
        <!-- javascript -->
        <script src="/javascript/app.js"></script>
</body>

</html>