APP_PORT = 5000
DEBUG_MODE = true
DB_URL =mongodb+srv://<username>:<password>@cluster0.exvydnq.mongodb.net/pizza-app?retryWrites=true&w=majority
COOKIE_SECRET=<secret>
JWT_SECRET=<secret>
REFRESH_SECRET=<refreshsecret>
APP_URL=http://localhost:5000
